# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Streamlit
.streamlit/

# OS files
.DS_Store

# Logs
*.log

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/

# PyCharm
.idea/

# Environment variables
.env
